@font-face {
  src: url(./Fonts/Gilroy-Medium.ttf);
  font-family: GR med;
}
@font-face {
  src: url(./Fonts/Gilroy-Bold.ttf);
  font-family: GR bld;
}
* {
  box-sizing: border-box;
  font-family: GR med;
}
.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #212426;
  padding: 20px;
  width: 400px;
  height: 400px;
  max-width: 90%;
  box-shadow: inset -6px -6px 12px rgba(255, 255, 255, 0.08),
    inset 6px 6px 12px rgba(0, 0, 0, 0.18);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  transform: translate(0px, 300px);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
  font-family: GR bld;
}
.form-title {
  margin-left: 57px;
  font-size: 2rem;
  background: linear-gradient(-45deg, #313335, #f9d3b4, #cd7456, #39a485);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: translate(0px, 0px);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #212426;
  font-size: 16px;
  font-weight: bold;
  /* box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff; */
  /* box-shadow: inset -6px -6px 12px rgba(255, 255, 255, 0.08),
    inset 6px 6px 12px rgba(0, 0, 0, 0.18); */
  caret-color: #f9d3b4;
  color: #cccccc;
}
.inputBox::placeholder {
  color: rgb(71, 71, 71);
}
.btn {
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* .joinBtn,
.leaveBtn {
  background: #4aed88;
  width: 100px;
  margin-left: auto;
} */
.joinBtn {
  background: linear-gradient(170deg, #426bb6 0%, #26458c 100%);
  box-shadow: -6px -6.5px 13px rgba(255, 255, 255, 0.132),
    6px 7px 15px rgba(0, 0, 0, 0.33);
  border: 4.3px solid #2a2a2a;
  border-radius: 100px;
  /* background: linear-gradient(
      95.04deg,
      rgba(0, 0, 0, 0) 3.11%,
      rgba(0, 0, 0, 0.12) 94.96%
    ),
    #212426;
  border: 2px solid rgba(0, 0, 0, 0.08);
  box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.04),
    6px 6px 12px rgba(0, 0, 0, 0.16);
  border-radius: 100px; */
  color: #f9d3b4;
  width: 300px;
  margin-top: 40px;
  margin-left: 30px;
}
.leaveBtn {
  background: linear-gradient(170deg, #b45b4a 0%, #8c2e16 100%);
  box-shadow: -6px -6.5px 13px rgba(255, 255, 255, 0.132),
    6px 7px 15px rgba(0, 0, 0, 0.33);
  border: 4.3px solid #2a2a2a;
  border-radius: 100px;
  color: #f9d3b4;
  width: 90%;
  transform: translate(9px, -80px);
}
.joinBtn:hover {
  box-shadow: inset 5px 5px 5px #26458c,
    -6px -6.5px 13px rgba(255, 255, 255, 0.132),
    6px 7px 15px rgba(0, 0, 0, 0.33);
  color: #acacac;
}

.leaveBtn:hover {
  box-shadow: inset 5px 5px 5px #8c2e16,
    -6px -6.5px 13px rgba(255, 255, 255, 0.132),
    6px 7px 15px rgba(0, 0, 0, 0.33);
  color: #f9d3b4c7;
}
.createInfo {
  margin: 0 auto;
  margin-top: 20px;
  color: #565656;
}

.createNewBtn {
  color: #c1c1c1;
  text-decoration: none;
  font-weight: 500;
}

.createNewBtn:hover {
  color: #cd7456;
}
.mainWrap {
  display: grid;
  grid-template-columns: 310px 1fr;
  height: 100vh;
  overflow: hidden;
}

.editor-title {
  margin-left: 25px;
  font-size: 2rem;
  background: linear-gradient(-45deg, #313335, #f9d3b4, #cd7456, #39a485);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: translate(0px, 0px);
}
.aside {
  background: #212426;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.avatar {
  font-weight: 700;
  border: 1px solid #cd7456b2;
  border-radius: 15px;
  box-shadow: -6px -6px 11px rgba(255, 255, 255, 0.08),
    6px 6px 12px rgba(0, 0, 0, 0.198);
}
.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  color: #d8d8d8;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}
.copyBtn {
  background: linear-gradient(170deg, #2c2c2c 0%, #1e1e1e 100%);
  box-shadow: -6px -6.5px 13px rgba(255, 255, 255, 0.132),
    6px 7px 15px rgba(0, 0, 0, 0.33);
  border: 4.3px solid #212121;
  border-radius: 100px;
  color: #f9d3b4;
  width: 90%;
  transform: translate(9px, -110px);
}
.copyBtn:hover {
  box-shadow: inset 5px 5px 5px #1e1e1e,
    -6px -6.5px 13px rgba(255, 255, 255, 0.132),
    6px 7px 15px rgba(0, 0, 0, 0.33);
  color: #f9d3b4ab;
}
.CodeMirror {
  min-height: calc(100vh - 250px);
  font-size: 20px;
  line-height: 1.7;
  /* padding-top: 10px; */
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.connected {
  margin-left: 50px;
  margin-bottom: 45px;
  color: #9e9e9e;
}
.submit {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset -6px -6px 12px rgba(255, 255, 255, 0.08),
    inset 6px 6px 12px rgba(0, 0, 0, 0.18);
  border-radius: 32px;
}
.sampleInput {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #212426;
  font-size: 16px;
  font-weight: bold;
  /* box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff; */
  box-shadow: inset -6px -6px 12px rgba(255, 255, 255, 0.08),
    inset 6px 6px 12px rgba(0, 0, 0, 0.18);
  caret-color: #f9d3b4;
  color: #cccccc;
  height: 50px;
  width: 700px;
  margin-left: 20px;
  margin-right: 85px;
}

.submitBtn {
  background: linear-gradient(170deg, #b45b4a 0%, #8c2e16 100%);
  box-shadow: -6px -6.5px 13px rgba(255, 255, 255, 0.132),
    6px 7px 15px rgba(0, 0, 0, 0.33);
  border: 4.3px solid #2a2a2a;
  border-radius: 100px;
  color: #f9d3b4;
  width: 22%;
  transform: translate(852px, -96px);
}
.submitBtn:hover {
  box-shadow: inset 5px 5px 5px #8c2e16,
    -6px -6.5px 13px rgba(255, 255, 255, 0.132),
    6px 7px 15px rgba(0, 0, 0, 0.33);
  color: #f9d3b4c7;
}

.output {
  margin-bottom: 16px;
  color: #f9d3b4de;
  margin-left: 20px;
  font-size: 1rem;
  margin-bottom: 78px;
  height: 20px;
  transform: translate(0px, 38.5px);
}
h2 {
  color: rgb(157, 157, 157);
  margin-left: 14.5px;
  font-size: 1.35rem;
  transform: translate(5px, 40px);
}
.sampleInput::placeholder {
  color: rgb(75, 75, 75);
  margin-left: 10px;
}
.CodeMirror {
  border-radius: 20px;
  background: linear-gradient(170deg, #2c2c2c 0%, #1e1e1e 100%);
  box-shadow: -6px -6.5px 13px rgba(255, 255, 255, 0.067),
    6px 7px 15px rgba(0, 0, 0, 0.33);
  width: 95%;
  transform: translate(30px, 20px);
}
.symb1 {
  font-size: 5rem;
  transform: translate(-500px, 180px);
  font-weight: bold;
  background: linear-gradient(45deg, #323232, #212426);
  /* background-size: 400% 400%; */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.symb2 {
  font-size: 5rem;
  transform: translate(500px, -550px);
  font-weight: bold;
  background: linear-gradient(45deg, #323232, #212426);
  /* background-size: 400% 400%; */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.loading {
  width: 3%;
  margin-left: 5px;
}

.select {
  width: 15%;
  transform: translate(940px, -170px);
}
